<head>
    <title>Nanotwitter | Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/home_page.css">
     <script src="/js/home.js" defer></script>
</head>

<div class="content">
        <% flash.keys.each do |type|%>
            <div class="alert alert-<%=type%>">
                <%= flash[type]%>
            </div>
        <% end%>
            <div class="hme-header-paging-container">
                <button class="hme-paging-button-style hme-prev-button"><i class="bi bi-arrow-left"></i> previous</button>
                <span>page <span 
                    userid="<%= session[:user]["id"] %>"
                    sessionusername="<%= session[:user]["username"] %>"
                    sessiondisplayname="<%= session[:user]["display_name"] %>"  class="hme-heading-pagenum">1</span></span>
                <div class="hme-header-search-container">
                    <i class="bi bi-search"></i><span class="hme-search-header-text">Search for Tweets</span>
                </div>
                <button class="hme-paging-button-style hme-next-button">next <i class="bi bi-arrow-right"></i> </button>
            </div>
            <div class="hme-main-tweet-content-container">
               <div class="hme-tweet-left-vertical-component">
                    <% (@feed.count / 2).times do |index| %>
                        <div class="tweet" id=<%= @feed[index * 2]["id"].to_s %>>
                            <p><span class="fw-bold"><%= @feed[index * 2]["display_name"].to_s %></span><a href="/user/test">@<%= @feed[index * 2]["user_name"] %></a></p>
                            <p class="hme-text-container"><%= @feed[index * 2]["text"].to_s %></p>
                            <div class="hme-button-container">
                                <button class="hme-reply hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>" clientId="<%= @feed[index * 2]["user_id"].to_s %>" id="<%= @feed[index * 2]["id"].to_s %>" hasPressed="false"><i style="pointer-events:none"class="bi bi-chat"></i> <%= @feed[index * 2]["tweet_replies_length"] %></button> 
                                <button class="hme-like hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>"  clientId="<%= @feed[index * 2]["user_id"].to_s %>"  id="<%= @feed[index * 2]["id"].to_s %>"><i style="pointer-events:none" class="bi bi-heart"></i> <%= @feed[index * 2]["tweet_likes_length"] %></button>  
                                <button class="hme-retweet hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>"  clientId="<%= @feed[index * 2]["user_id"].to_s %>" id="<%= @feed[index * 2]["id"].to_s %>"><i style="pointer-events:none" class="bi bi-arrow-repeat"></i> <%= @feed[index * 2]["tweet_retweets_length"] %></button> 
                            </div>
                            <div class="hme-replylist-container">  
                                <div class="hme-vertical-header">
                                    <span class="hme-reply-prompt-header">Please leave a reply here</span>
                                    <textarea class="hme-reply-input-container" placeholder="Leave something here"></textarea>
                                    <button class="hme-reply-submit-button">Submit</button>
                                </div>
                                <hr>
                                <div 
                                sessionusername="<%= session[:user]["username"] %>"
                                sessiondisplayname="<%= session[:user]["display_name"] %>" 
                                class="hme-reply-component-container">
                                </div>
                            </div>       
                        </div>
                    <% end %>
                </div>
                <div class="hme-tweet-right-vertical-component">
                    <% (@feed.count / 2).times do |index| %>
                        <div class="tweet" id=<%= @feed[(index * 2) + 1]["id"].to_s %>>
                            <p><span class="fw-bold"><%= @feed[(index * 2) + 1]["display_name"].to_s %></span><a href="/user/test">@<%= @feed[(index * 2) + 1]["user_name"] %></a></p>
                            <p class="hme-text-container"><%= @feed[(index * 2) + 1]["text"].to_s %></p>
                            <div class="hme-button-container">
                                <button class="hme-reply hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>" clientId="<%= @feed[(index * 2) + 1]["user_id"].to_s %>" id="<%= @feed[(index * 2) + 1]["id"].to_s %>" hasPressed="false"><i style="pointer-events:none"class="bi bi-chat"></i> <%= @feed[(index * 2) + 1]["tweet_replies_length"] %></button> 
                                <button class="hme-like hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>"  clientId="<%= @feed[(index * 2) + 1]["user_id"].to_s %>"  id="<%= @feed[(index * 2) + 1]["id"].to_s %>"><i style="pointer-events:none" class="bi bi-heart"></i> <%= @feed[(index * 2) + 1]["tweet_likes_length"] %></button>  
                                <button class="hme-retweet hme-tweet-action-button" userid="<%= session[:user]["id"].to_s %>"  clientId="<%= @feed[(index * 2) + 1]["user_id"].to_s %>" id="<%= @feed[(index * 2) + 1]["id"].to_s %>"><i style="pointer-events:none" class="bi bi-arrow-repeat"></i> <%= @feed[(index * 2) + 1]["tweet_retweets_length"] %></button> 
                            </div>
                            <div class="hme-replylist-container">  
                                <div class="hme-vertical-header">
                                    <span class="hme-reply-prompt-header">Please leave a reply here</span>
                                    <textarea class="hme-reply-input-container" placeholder="Leave something here"></textarea>
                                    <button class="hme-reply-submit-button">Submit</button>
                                </div>
                                <hr>
                                <div 
                                sessionusername="<%= session[:user]["username"] %>"
                                sessiondisplayname="<%= session[:user]["display_name"] %>" 
                                class="hme-reply-component-container">
                                </div>
                            </div>       
                        </div>
                    <% end %>
                </div>
            </div>
</div>

