<head>
    <title>Nanotwitter | Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/home_page.css">
</head>

<div class="content">
        <% flash.keys.each do |type|%>
            <div class="alert alert-<%=type%>">
                <%= flash[type]%>
            </div>
        <% end%>
    <% @feed.each do |tweet| %>
       <div class="tweet-wrapper">
            <div class="tweet" id=<%= tweet["id"].to_s %>>
                <p><span class="fw-bold"><%= tweet["user_id"].to_s %></span><a href="/user/test">@Placeholder</a></p>
                <p><%= tweet["text"].to_s %></p>
                <button class="reply" id="reply-button-<%= tweet["id"].to_s %>"><i class="bi bi-chat"></i> Placeholder tweet length</button>        
            </div>
       </div>
        
    <%end%>
</div>

