<head>
    <title>Nanotwitter | <%= @user["username"]%></title>
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
    <script src="/js/profile.js" defer></script>
</head>
<div class="profile">
    <div class="prf-user-info">
        <h2><%= @user["display_name"]%></h2>
        <p><%= @user["username"]%></p>
        <div class="prf-header-search-container">
            <i class="bi bi-search"></i><span class="prf-search-header-text">Search for tweets</span>
        </div>
        <div class="prf-user-followings">
            <a href="/followers?uid=<%= @user["id"] %>"><%= @userstarfollowingcount%> Followers</a>
            <a href="/following?uid=<%= @user["id"] %>"><%= @userfanfollowingcount%> Followings </a>
        </div>
    </div>
    <div class="user-tweets">
        <% if @usertweets.count == 0 %>
            <p>User has no tweets!</p>
        <%else%>
            <% @usertweets.each do |tweet|%>
                    <div class="tweet">
                        <p><span class="fw-bold"><%=@user["display_name"]%></span> <%= @user["username"]%></p>
                        <p><%= tweet["text"]%></p>
                        <p><i class="bi bi-heart"></i> <%= tweet["tweet_likes_length"] %> <i class="bi bi-arrow-repeat"></i> <%= tweet["tweet_retweets_length"]%></p> 
                    </div>
            <%end%>
             
        <%end%>
       
    </div>
</div>