<head>
    <title>Nanotwitter | <%= @user.username%></title>
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
</head>
<div class="profile">
    <div class="user-info">
        <h2><%= @user.display_name%></h2>
        <p><%= @user.username%></p>
        <div class="user-followings">
            <a href="/followers"><%= @user.star_followings.count%> Followers</a>
            <a href="/following"><%= @user.fan_followings.count%> Followings </a>
        </div>
        <% if @user == session[:user]%>
            <button class="btn btn-warning">edit profile</button>
        <%else%>
            <button class="btn btn-outline-primary">follow</button>
        <%end%>
    </div>
    <div class="user-tweets">
        <% if @user.tweets.size == 0%>
            <p>User has no tweets!</p>
        <%else%>
            <% @user.tweets.each do |tweet|%>
                    <div class="tweet">
                        <p><span class="fw-bold"><%=tweet.user.display_name%></span> <%= tweet.user.username%></p>
                        <p><%= tweet.text%></p>
                        <p><i class="bi bi-heart"></i> <%= tweet.likes.length%> <i class="bi bi-arrow-repeat"></i> <%= tweet.retweets.length%></p> 
                    </div>
            <%end%>
             
        <%end%>
       
    </div>
</div>